.paginator {
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  display: inline-flex;
}

.paginator__item {
  color: #fff;
  cursor: pointer;
}

.paginator__item + li {
  margin-left: 5px;
}

.paginator__item_active {
  color: azure;
  font-weight: bold;
}