.dialogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
	text-align: center;
	color: white;
}
.dialogs__items {
  width: 50%;
}
.dialogs__item {
	padding: 10px 0 10px;
}
.dialogs__item_active{
	color: gold;
}

.dialogs__messages {
  width: 50%;
}
.dialogs__message {
  padding: 10px 0 10px;
}
